page-home {
    // map style
    #map {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute!important;
        overflow: hidden!important;
    }
    .hidemap {
        visibility: hidden;
        margin-top: -1000px;
    }
    ion-searchbar {
        position: absolute;
        opacity: .7;
        z-index: 3;
    }
    .switch {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 80%;
        border-radius: 10px;
        text-align: center;
        z-index: 100;
        opacity: .9;
        .active {
            background: #3366CC!important;
            color: #fff;
        }
        .button {
            width: 100px;
            margin: 0;
            padding: 0;
        }
    }
}